<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.arsylk.xmicrog">

    <application
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round" tools:ignore="GoogleAppIndexingWarning">

        <meta-data
                android:name="xposedmodule"
                android:value="true" />
        <meta-data
                android:name="xposeddescription"
                android:value="Replace signatures &amp; add to google packages for MicroG" />
        <meta-data
                android:name="xposedminversion"
                android:value="54" />

    </application>

</manifest>